<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{meta_title} - Рускон</title>
		<meta content="{meta_description}" name="description" />
		<meta content="{meta_keywords}" name="keywords" />
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
		<meta http-equiv="content-type" content="text-html; charset=utf-8;charset=utf-8" />
		<link rel="stylesheet" media="screen" type="text/css" href="{template}css/default.css" title="default" />
		<script type="text/javascript" src="/js/jquery-1.6.2.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/js/browser_selector.js"></script>
		<script type="text/javascript" src="{template}js/default.js"></script>

		<script type="text/javascript" src="/js/digital-clock/digital-clock.js"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="/js/digital-clock/digital-clock.css" title="default" />

		<!--[if lte IE 6]>
		<script src="/js/DD_belatedPNG.js"></script>
		<script>
		DD_belatedPNG.fix('.ship img, .ship_sm img, .line, .date');
		</script>
		<![endif]-->

	</head>
	<body>

		{admin}

		<div class="stats"></div>

		<div class="wide">
			<div class="container">

				<div id="header">
					<div id="logo">
						<a href="/" title="РУСКОН"><img src="{template}pics/logo.gif" width="221" height="50" border="0" alt="РУСКОН" /></a>
					</div>

					{clocks}

				</div><!--end header-->

			</div>
		</div>

		<div class="wideline">
			&nbsp;
		</div>
		<!--menu-->
		<div class="widemenu">
			<div class="container">
				<div class="topmenu">
					{cms_part:menu:1}
				</div>
			</div>
		</div>
		<!--end menu-->

		<div class="widepromo_sm">
			<div class="container">
				<div class="ship_sm">
					<img border="0" width="162" height="100" src="{template}pics/ship_sm.png" />
				</div>
				<div class="prom_sm">
					<p class="tit">
						{cms_part:text:14}
					</p>
				</div>
			</div>
		</div>

		<div class="wideline">
			&nbsp;
		</div>
		<div class="container">
			<div class="maincontent">
				<div class="line">
					&nbsp;
				</div>

				<div class="small_column">

					<div class="item">
						{left}
					</div>

				</div>

				<div class="big_column">
					{page_content}
				</div>

			</div>
		</div>
		<div class="wideline">
			&nbsp;
		</div>
		<div class="container">

			<div class="footer_menu">
				{adresses}
			</div>

			<div id="footer">
				<p>
					© 1997—2011 {cms_part:text:3}
					<br/>
					{bottom_menu}

				</p>
				<div id="address">
					<p>
						{liveinternet}
					</p>
				</div>
			</div><!--end footer-->
		</div>

	</body>
</html>

