{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load page_tags %}


{% block widepromo %}

<div class="widepromo_sm">
	<div class="container">
		<div class="ship_sm">
			<img border="0" width="162" height="100" src="{{ STATIC_URL }}ruscon/images/ship_sm.png" />			
		</div>
		<div class="prom">
			<p class="tit">
				{% placeholder "bigpromo-title" %}
			</p>
			<p class="tex">
				{% placeholder "bigpromo-text" %}
			</p>
		</div>
	</div>
</div>
{% endblock widepromo %}

<!--
<div class="widepromo">
	<div class="container">
		<div class="ship">
			<img border="0" width="439" height="272" src="{{ STATIC_URL }}ruscon/images/ship.png" />
		</div>
		<div class="prom">
			<p class="tit">
				{% placeholder "bigpromo-title" %}
			</p>
			<p class="tex">
				{% placeholder "bigpromo-text" %}
			</p>
		</div>
	</div>
</div>
-->

{% block maincontent %}

{% include 'includes/teaser_menu.html' with page_reverce_id='company' %}

{% include 'includes/teaser_menu.html' with page_reverce_id='logistic' %}

{% include 'includes/teaser_menu.html' with page_reverce_id='customs' %}

{% with page_reverce_id='press-releases' %}
	<div class="item">			
		{% get_menuitem page_reverce_id "includes/menu_item.html" %}
		{% placeholder "press-releases" %}	
	</div>
{% endwith %}

{% with page_reverce_id='news' %}
	<div class="item">		
		{% get_menuitem page_reverce_id "includes/menu_item.html" %}
		{% placeholder "news" %}	
	</div>
{% endwith %}

{# {% include 'includes/teaser_menu.html' with page_reverce_id='perishable_goods' %} #}

{% endblock maincontent %}
