{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load page_tags %}

{% block widepromo %}
<div class="widepromo">
	<div class="container">
		<div class="ship">
			<img border="0" width="439" height="272" src="{{ STATIC_URL }}ruscon/images/ship.png" />
		</div>
		<div class="prom">
			<p class="tit">
				{% placeholder "bigpromo-title" %}
			</p>
			<p class="tex">
				{% placeholder "bigpromo-text" %}
			</p>
		</div>
	</div>
</div>
{% endblock widepromo %}

{% block maincontent %}

{% include 'includes/teaser_menu.html' with page_reverce_id='company' %}

{% include 'includes/teaser_menu.html' with page_reverce_id='logistic' %}

{% include 'includes/teaser_menu.html' with page_reverce_id='customs' %}


{% with page_reverce_id='press-releases' %}
	<div class="item">			
	<span class="title capslock"><a href="{% page_url page_reverce_id %}">{% page_attribute 'page_title' page_reverce_id %}</a></span>
	<img class="pic shadow radius8" src="{{ STATIC_URL }}ruscon/images/menu/{{ page_reverce_id }}.jpg" alt="{% page_attribute 'page_title' page_reverce_id %}" title="{% page_attribute 'page_title' page_reverce_id %}" />
		{% placeholder "press-releases" %}	
	</div>
{% endwith %}



{% with page_reverce_id='news' %}
	<div class="item">			
	<span class="title capslock"><a href="{% page_url page_reverce_id %}">{% page_attribute 'page_title' page_reverce_id %}</a></span>
	<img class="pic shadow radius8" src="{{ STATIC_URL }}ruscon/images/menu/{{ page_reverce_id }}.jpg" alt="{% page_attribute 'page_title' page_reverce_id %}" title="{% page_attribute 'page_title' page_reverce_id %}" />
		{% placeholder "news" %}	
	</div>
{% endwith %}


{% include 'includes/teaser_menu.html' with page_reverce_id='customs' %}


{% endblock maincontent %}
