backports.functools-lru-cache==1.6.4
BeautifulSoup==3.2.2
cmsplugin-contact==1.0.0
cmsplugin-filer==0.9.4
cmsplugin-zinnia==0.4
Django==1.4.22
django-blog-zinnia==0.12.2
django-classy-tags==0.4
django-cms==2.3.5
django-cms-search==0.6.3
django-filer==0.9.3
django-haystack==1.2.7
django-modeltranslation==0.5
django-mptt==0.5.2
django-polymorphic==0.2
django-sekizai==0.7
django-sitetree==1.0.0
django-tagging==0.3.1
django-xmlrpc==0.1.4
easy-thumbnails==1.2
html5lib==0.95
Pillow==6.2.2
psycopg2-binary==2.8.6
pyparsing==1.5.7
python-memcached==1.48
pytz==2021.3
six==1.16.0
soupsieve==1.9.6
South==1.0.2
suds==0.4
webencodings==0.5.1
Whoosh==2.4.1
