{% load thumbnail %}
{% load page_tags %}

<section id="headship-list">
{% for head in heads %}
	
  <div class="card">
    
    <img class="left" alt="{{ head }}" src="{% thumbnail head.image '200x220' crop='top' %}">
        
    <div class="headship-content">
    <qua>
    <blockquote>
	      <h4>{{ head.last_name }} </h4>
	      {{ head.first_name }} {{ head.patronymic }}
	</blockquote>	      
	      <small>{{ head.post }}</small>
	      <br />
	      <b>{{ head.email|hide_email }}</b>
    </div>    
  </div>	
{% endfor %}
</section>