{% extends "zinnia/_entry_detail_base.html" %}
{% load url from future %} 
{% load sitetree %}
{% load i18n %}
{% load page_tags %}

{% block entry-title %}
    <h1 class="entry-title">{{ object.title }}</h1>
    <div class="line"></div>   
{% endblock %}

{% block entry-comments %}{% endblock entry-comments %}

{% block entry-image %}
{% if object.image %}
{% load thumbnail %}

<div class="entry-image">
	<div>	
		<a class="entry-image-link" href="{% thumbnail object.image '800x600' %}" title="{{ object.title }}">
			<img src="{% thumbnail object.image '330x220' crop='smart' %}" alt="{{ object.title }}" class="left" />
		</a>
	</div>
</div>

{% endif %}
{% endblock %}

{% block entry-info %}{% endblock entry-info %}

{% block entry-last-update %}
{% if object.start_publication  %}
<p class="entry-last-update">
	<abbr class="updated" title="{{ object.start_publication|date:"c" }}">{{ object.start_publication|date:"DATE_FORMAT" }}</abbr>
</p>
{% endif  %}
{% endblock %}

{% block entry-tags %}
{% endblock %}

{% block entry-shorturl %}
{% endblock entry-shorturl %}

{% block entry-content %}
<div class="entry-content">	
	{{ object_content }}	
</div>

{% sitetree_breadcrumbs from "mainmenu" template "includes/breadcrumbs.html" %}
{% endblock %}