{% extends "zinnia/base.html" %}
{% load sitetree %} 
{% block content %}      

<div class="small_column">
{% load page_tags %}
{% include 'includes/small_column.html' with page_reverce_id=object|get_page_reverce_id_form_entry %}	
</div>

<div class="big_column">        
{% block entry-content %}
  {% include object.content_template with object_content=object.html_content|safe %}
{% endblock %}
</div>
{% endblock %}

{% block widepromo %}
<div class="widepromo_sm">
	<div class="container">
		<div class="ship_sm">
			<img border="0" width="162" height="100" src="{{ STATIC_URL }}ruscon/images/ship_sm.png" />			
		</div>
		<div class="prom_sm">
			<p class="tit">				
				{% sitetree_breadcrumbs from "mainmenu" template "includes/breadcrumbs.html" %}
			</p>
		</div>
	</div>
</div>
{% endblock widepromo %}