{% load i18n %}
<div id="press-release">
<ul>
  {% for object in entries %}
	 <div class="news-block">
	  	<div class="news-day">
		    {{ object.creation_date|date:"d"  }}
		</div>
		<div class="news-detail">
		    <div class="news-date">
		        {{ object.creation_date|date:"m.Y"  }}
		    </div>
		    <div class="news-title">
		        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">{{ object.title }}</a>
		    </div>
		</div>
	</div>
  {% empty %}
  <p>
    {% trans "No entries yet." %}
  </p>
  {% endfor %}
</ul>
</div>

{% if is_paginated %}
	{% load zinnia_tags %}
	{% zinnia_pagination page_obj %}
{% endif %}