/*
body { margin-top: 36px; }
#admin_navigation { width: 100%; height: 35px; position: absolute; z-index: 1000; font-family: Tahoma; font-size: 11px; color: #ffffff; background: #333333 url(/cms/templates/gcs/pics/admin/topbg.gif) top left repeat-x; top: 0%; left: 0%; }
#admin_navigation_ { padding-left: 10px; padding-top: 5px; }
*/

.admin_link { position: absolute; z-index: 1000; border: 1px red dashed; padding: 2px; }
.admin_link_ { position: absolute; z-index: 1000; border: 1px red dashed; padding: 2px; margin-top: 24px; }
.admin_link input, .admin_link_ input { font-size: 11px; font-family: Tahoma; }

#cms_logo { font-family: Verdana; font-size: 19px; letter-spacing: -1px; float: left; }
#cms_version { font-family: Tahoma; font-size: 9px; letter-spacing: 0px; color: #cccccc; margin-left: 5px; float: left; }

#modal_dialog, #modal_dialog_loading, #modal_dialog_confirm { display: none; }

#modal_dialog input { font-family: Tahoma; font-size: 11px; }

#modal_dialog .sortable, #modal_dialog .sortable_ { list-style-type: none; margin: 10px 0px 0px 0px; padding: 0; }
#modal_dialog .sortable li, #modal_dialog .sortable_ li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
#modal_dialog .sortable li span, #modal_dialog .sortable_ li span { position: absolute; margin-left: -1.3em; }

#modal_dialog .sortable .sortable { list-style-type: none; margin: 10px 0px 0px 0px; padding: 0; }
#modal_dialog .sortable li .sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }

.admin_icon { padding-left: 5px; }

#modal_dialog h1 { font-size: 18px; font-family: Tahoma; font-weight: normal; margin: 0px 0px 10px 0px; padding: 0px; }
#modal_dialog h2 { font-size: 14px; font-family: Tahoma; font-weight: bold; margin: 10px 0px 10px 0px; padding: 0px; }

