* { margin: 0px; padding: 0px; font-family: Tahoma; font-size: 11px; color: #000000; }

img { border: 0px; }
hr { size: 0px; height: 0px; border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 1px #333333 dashed; }
p { padding: 0px; margin: 0px; line-height: 18px; }
a { color: #3c67b5; text-decoration: underline; }
a:hover { color: #3c67b5; text-decoration: none; }

.clear { clear: both; }
.clear_ { clear: both; margin-bottom: 10px; }
.padding10 { padding: 10px; }
.padding15 { padding: 15px; }
.padding20 { padding: 20px; }


/* ############################################################################# */
