.material-tooltip {
    text-align: left;
    font-weight: 100;
    line-height: 2rem;
    border-left: 1px solid #173496;
}

.material-tooltip .backdrop{
    background-color: #173496;
    height: 0;
}