small {
	line-height: 11px;
	font-size: 9px;
}

#gallery p {
	margin: 0px;
	padding: 0px;
}
#gallery {
	margin-bottom: 20px;
}
#gallery ul {
	margin: 0px;
	padding: 0px;
}
#gallery ul li {
	margin: 0px;
	padding: 10px 10px 0px 0px;
	list-style: none;
	float: left;
	width: 150px;
	height: 120px;
}
#gallery ul li img {
	background-color: #ffffff;
	padding: 5px;
	border: 1px #cccccc solid;
}

#videogallery p {
	margin: 0px;
	padding: 0px;
}
#videogallery {
	margin-bottom: 20px;
}
#videogallery ul {
	margin: 0px;
	padding: 0px;
}
#videogallery ul li {
	margin: 0px;
	padding: 10px 10px 0px 0px;
	list-style: none;
}
#videogallery ul li img {
	background-color: #ffffff;
	padding: 5px;
	border: 1px #cccccc solid;
}

.gallery_preview img {
	background-color: #ffffff;
	padding: 5px;
	border: 1px #cccccc solid;
}
.gallery_info a {
	font-size: 14px;
	font-weight: bold;
}

.clear {
	clear: both;
}

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, em, font, img, ol, ul, dl, dt, dd, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {

	font: 13px Tahoma, Arial, Trebuchet MS, Helvetica, Sans-serif;
}
ol, ul {
	list-style: none;
}

:focus {
	outline: 0;
}

div.stats {
	display: inline;
	height: 0px;
	left: -1000px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: -1000px;
	visibility: hidden;
	width: 0px
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	bottom: -0.4em;
}

/* DEFAULT */

html {
	background-color: #f4f4f4;
}

a {
	text-decoration: underline;
	color: #0066cc;
}

a:hover {
	color: #ff4e00;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Helvetica, Arial, Sans-serif;
	font-weight: normal;
}

.none {
	display: none;
}

.shadow {
	-webkit-box-shadow: 0 0 5px 0px #e0e0e0;
	-moz-box-shadow: 0 0 5px 0px #e0e0e0;
	box-shadow: 0 0 5px 0px #e0e0e0;
	border: 1px solid white;
	-webkit-transition: all 0.3s ease-out;
}

.transition {
	-webkit-transition: all 0.3s ease-out;
}

.container {
	width: 980px;
	padding: 0px 2px 0px 2px;
	margin: 0em auto;
}

.wide {
	display: block;
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 100%;
}

.widepromo {
	display: block;
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 100%;
	height: 329px;
	background: url('../images/sea.jpg') repeat-x;
}

.widepromo_sm {
	display: block;
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 100%;
	height: 125px;
	background: url('../images/sea_sm.jpg') repeat-x;
}

.widepromo .ship {
	display: block;
	position: relative;
	float: left;
	width: 439px;
	height: 252px;
	padding: 20px 0px 0px 0px;
}

.widepromo_sm .ship_sm {
	display: block;
	position: relative;
	float: left;
	width: 162px;
	height: 100px;
	padding: 12px 0px 0px 0px;
}

.widepromo .prom {
	display: block;
	position: relative;
	float: left;
	width: 500px;
	height: 252px;
	padding: 20px 0px 0px 40px;
}

.widepromo_sm .prom_sm {
	display: block;
	position: relative;
	float: left;
	width: 500px;
	height: 125px;
	padding: 10px 0px 0px 40px;
}

.widepromo .prom p.tit {
	font-size: 28px;
	color: #fff;
	text-shadow: 0px 1px 0px #8594a8;
	padding: 0px 0px 0px 0px;
}
.widepromo .prom p {
	font-size: 28px;
	color: #fff;
	text-shadow: 0px 1px 0px #8594a8;
	padding: 0px 0px 0px 0px;
}

.widepromo_sm .prom_sm p.tit {
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 1px 0px #8594a8;
	padding: 0px 0px 0px 0px;
}
.widepromo_sm .prom_sm p {
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 1px 0px #8594a8;
	padding: 0px 0px 0px 0px;
}

.widepromo .prom p.tex {
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0px #8594a8;
	padding: 20px 0px 0px 0px;
}

.widemenu {
	display: block;
	position: relative;
	float: left;
	background-color: #889bbf;
	width: 100%;
	height: 37px;
	padding-top: 12px;
	background: url('../images/widemenu.gif') repeat-x;
}

.widemenu li {
	display: inline;
}

.widemenu a {
	line-height: 28px;
	padding: 6px 15px 6px 15px;
	margin-right: 2px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 14px;
	text-decoration: none;
	color: #676767;
	text-shadow: 0px 1px 0px #fff;
	background-color: #f5f5f5;
	background: linear-gradient(top,#f9f9f9,#f0f0f0);
	background: -o-linear-gradient(top,#f9f9f9,#f0f0f0);
	background: -ms-linear-gradient(top,#f9f9f9,#f0f0f0);
	background: -moz-linear-gradient(top,#f9f9f9,#f0f0f0);
	background: -webkit-linear-gradient(top,#f9f9f9,#f0f0f0);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0));
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#f9f9f9,endColorstr=#f0f0f0,GradientType=0)";
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0')";
}

.widemenu a:hover {
	color: #fff;
	text-shadow: 0px 1px 0px #ff7900;
	background-color: #ff7900;
	background: linear-gradient(top,#ffa200,#ff7900);
	background: -o-linear-gradient(top,#ffa200,#ff7900);
	background: -ms-linear-gradient(top,#ffa200,#ff7900);
	background: -moz-linear-gradient(top,#ffa200,#ff7900);
	background: -webkit-linear-gradient(top,#ffa200,#ff7900);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa200), to(#ff7900));
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#ffa200,endColorstr=#ff7900,GradientType=0)";
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#ff7900')";
}

.win.ie7 .widemenu a, .win.ie6 .widemenu a {
	line-height: 16px;
	text-decoration: none;
}

#header {
	display: block;
	position: relative;
	float: left;
	width: 980px;
	height: 104px;
	/*height: 100%;  IE 6 */
}

/* LOGO */

#logo {
	margin: 0px 40px 0px 0px;
	width: 220px;
	height: 130px;
	display: block;
	position: relative;
	float: left;
}

.win.ie6 #logo, .win.ie7 #logo {
	margin: 0px 40px 0px 0px;
}

#logo a {
	display: block;
	position: relative;
	float: left;
	width: 128px;
	height: 78px;
	margin: 33px 0px 0px 0px;
}

.clock {
	display: block;
	float: left;
	position: relative;
	width: 120px;
	margin: 37px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: url('../images/clock.gif') no-repeat top center;
	text-align: center;
}

.win.ie6 .clock {
	width: 110px;
	margin: 37px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.clock .time {
	display: block;
	position: relative;
	margin: 4px 0px 0px 0px;
	color: #acaaaa;
	text-shadow: 0px 1px 0px #ffffff;
}

.clock .city {
	display: block;
	position: relative;
	color: #bab9b9;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}

.maincontent {
	display: block;
	float: left;
	position: relative;
	width: 980px;
	padding: 0px 2px 0px 2px;
	margin: 0em auto;
	background: url('../images/mainbg.jpg') repeat-y top center;
}

#leftblock {
	float: left;
	width: 680px;
	padding: 0px 20px 20px 20px;
}

#rightblock {
	float: left;
	width: 240px;
	margin: 0px 0px 0px 20px;
}

.item {
	display: block;
	float: left;
	position: relative;
	width: 300px;
	padding: 10px 0px 30px 20px;
}

.small_column {
	width: 340px;
	display: block;
	float: left;
	position: relative;
}

.big_column {
	width: 620px;
	display: block;
	float: left;
	position: relative;
	text-shadow: 0px 1px 0px #fff;
}

.wide_column {
	width: 960px;
	display: block;
	float: left;
	position: relative;
	padding: 10px 0px 30px 20px;
	text-shadow: 0px 1px 0px #fff;
}

.big_column h1, .wide_column h1 {
	font-size: 28px;
	padding: 0px 0px 8px 0px;
}

.big_column h2, .wide_column h2 {
	font-size: 19px;
	padding: 0px 0px 20px 0px;
}

.big_column a h2, .wide_column a h2 {
	font-size: 19px;
	padding: 0px 0px 10px 0px;
}

.big_column h3, .wide_column h3 {
	font-size: 16px;
	padding: 0px 0px 20px 0px;
}

.win.ie8 .big_column h3, .win.ie7 .big_column h3, .win.ie6 .big_column h3, .win.ie8 .wide_column h3, .win.ie7 .wide_column h3, .win.ie6 .wide_column h3 {
	font-weight: bold;
}

.big_column .date, .wide_column .date {
	display: block;
	float: left;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 6px 0px;
	width: 620px;
	color: #999999;
	font-size: 13px;
	background: url('../images/dotted_line.png') bottom repeat-x;
}

.wide_column .date {
	width: 960px;
}

.big_column hr, .wide_column hr {
	display: block;
	float: left;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	background: url('../images/dotted_line.png') top repeat-x;
	height: 20px;
	width: 620px;
}

.wide_column hr {
	width: 960px;
}

.win.ie6 .big_column hr, .win.ie7 .big_column hr, .win.ie6 .wide_column hr, .win.ie7 .wide_column hr {
	display: block;
	float: left;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	border: 0px;
	color: #ccc;
	height: 1px;
	width: 620px;
}

.win.ie6 .wide_column hr, .win.ie7 .wide_column hr {
	width: 960px;
}

.big_column p, .wide_column p {
	color: #555555;
	font-size: 15px;
	line-height: 22px;
	padding: 0px 0px 30px 0px;
}

.item span.title {
	display: block;
	float: left;
	position: relative;
	font-size: 18px;
	color: #ff6600;
	padding: 0px 0px 15px 0px;
}
.item span.title a {
	font-size: 18px;
	color: #ff6600;
	text-decoration: none;
}

.item img {
	margin: 0px 0px 10px 0px;
}

.item p {
	text-shadow: 0px 1px 0px #ffffff;
	color: #555555;
	font-size: 13px;
	line-height: 19px;
	padding: 10px 0px 0px 0px;
}

a.spo {
	display: block;
	float: left;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	text-shadow: 0px 1px 0px #777;
	padding: 0px 18px 0px 0px;
	height: 35px;
	margin-bottom: 5px;
	padding-right: 20px; /* sliding doors padding */
	background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
	z-index: 999;
}

a.spo span {
	background: transparent url('../images/bg_button_span.gif') no-repeat;
	display: block;
	float: left;
	width: 250px;
	position: relative;
	line-height: 35px;
	padding: 0px 0px 0px 30px;
	z-index: 999;
}

a.spo:hover {
	background-position: bottom right;
}

a.spo:hover span {
	background-position: bottom left;
}

.wideline {
	display: block;
	float: left;
	position: relative;
	height: 2px;
	width: 100%;
	line-height: 1px;
	background: url('../images/line.gif') repeat-x;
}

/* Adresses */

.footer_menu {
	display: block;
	position: relative;
	float: left;
	width: 982px;
	margin: 0px 0px 0px 0px;
	padding: 0px 2px 0px 2px;
	line-height: 48px;
}

.footer_menu_ {
	display: block;
	position: relative;
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
	padding: 0px 2px 0px 2px;
	line-height: 48px;
}

.line {
	display: block;
	float: left;
	position: relative;
	height: 14px;
	width: 980px;
	line-height: 1px;
	background: url('../images/footer.png') no-repeat top center;
}

.footer_menu .offices, .footer_menu_ .offices {
	padding: 0px 0px 0px 20px;
	line-height: 48px;
	color: #fff;
	font-size: 18px;
}

.footer_menu ul.adresses, .footer_menu_ ul.adresses {
	display: block;
	position: relative;
	float: left;
	list-style: none;
	width: 280px;
	padding: 31px 0px 15px 0px;
	margin: 0px 0px 0px 35px;
	text-shadow: 0px 1px 0px #ffffff;
}

.footer_menu ul.adresses li, .footer_menu_ ul.adresses li {
	color: #737373;
	font-size: 11px;
	padding: 0px 0px 30px 30px;
	margin: 0px 0px 0px 0px;
	line-height: 16px;
	background-position: 0px 1px;
	background-repeat: no-repeat;
}

.footer_menu ul.adresses li.ru, .footer_menu_ ul.adresses li.ru {
	background-image: url('../images/ru.gif');
}

.footer_menu ul.adresses li.kz, .footer_menu_ ul.adresses li.kz {
	background-image: url('../images/kz.gif');
}

.footer_menu ul.adresses li.cn, .footer_menu_ ul.adresses li.cn {
	background-image: url('../images/cn.gif');
}

.footer_menu ul.adresses li strong, .footer_menu_ ul.adresses li strong {
	color: #999;
	font-size: 12px;
}

.footer_menu_ ul.adresses li {
	float: left;
	width: 200px;
	list-style: none;
}

/* footer */

#footer {
	display: block;
	float: left;
	position: relative;
	width: 980px;
	height: 65px;
	padding: 30px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 18px;
	color: #999999;
	background: url('../images/footer.jpg') no-repeat top center;
	text-shadow: 0px 1px 0px #ffffff;
}

#footer a {
	color: #bab9b9;
}

#footer p {
	float: left;
	margin: 10px 0px 0px 10px;
}

#footer p, #footer a {
	font-size: 12px;
}

#footer .navigation li {
	display: inline;
}

#address p {
	display: block;
	float: right;
	text-align: right;
	margin-right: 10px;
}

.gradient_blue {
	color: #fff;
	text-shadow: 0px 1px 0px #2d608d;
	background-color: #3c709e;
	background: linear-gradient(top,#899bc0,#7588ac);
	background: -o-linear-gradient(top,#899bc0,#7588ac);
	background: -ms-linear-gradient(top,#899bc0,#7588ac);
	background: -moz-linear-gradient(top,#899bc0,#7588ac);
	background: -webkit-linear-gradient(top,#899bc0,#7588ac);
	background: -webkit-gradient(linear, left top, left bottom, from(#899bc0), to(#7588ac));
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#899bc0,endColorstr=#7588ac,GradientType=0)";
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#899bc0', endColorstr='#7588ac')";
}

.radius8 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.radius8_bottom {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#service_order {
	margin: 0px;
	padding: 0px;
}
#service_order ul {
	margin: 0px;
	padding: 0px;
	height: 30px;
}
#service_order ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#service_order ul li ul {
	margin: 0px;
	padding: 0px;
}
#service_order ul li ul li {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	list-style: none;
	float: left;
}
.left_li {
	width: 180px;
	height: 20px;
}
.left_li_ {
	width: 180px;
	height: 20px;
}
.right_li {
}

.input_text, .input_select, .input_textarea {
	font-size: 14px;
}
.input_text {
	width: 350px;
}
.input_textarea {
	width: 500px;
	height: 100px;
}

.required {
	background: none;
	color: #000000;
}
.required_ {
	background-color: #8594a8;
	color: #ffffff;
}

ol.numbered_list {
	margin: 0px;
	padding: 0px;
}
ol.numbered_list li {
	margin: 0px 0px 5px 20px;
	padding: 0px;
	list-style: square;
}

.big_column p {
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.big_column ul {
	margin: 0px;
	padding: 0px;
}
.big_column ul li {
	margin: 0px 0px 5px 20px;
	padding: 0px;
	list-style: square;
}

.scroller {
	margin-bottom: 20px;
	background-color: #ffffff;
	padding: 5px;
	border: 1px #e0e0e0 dashed;
}

/* blog */
.entry-title a {
	text-decoration: none;
}

.big_column ul li {
	color: #555555;
	list-style: disc;
	line-height: 22px;	
}

.big_column ul {
	padding-left : 20px;
}

.hfeed h1 {
	margin: 0;
}

.hfeed h2 {
	padding: 5px 0;
	margin: 0;
	color: #333;
	font-size: 15px;
	background: #eee;
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	font-weight: bold;
}

.left {
	float: left;
}

.big_column .entry-content p {
	font-size: 14px;
}

.entry-footer {
	clear: both;
}

.big_column .entry-last-update {
	color: #737373;
	font-size: 12px;
	padding: 0;
	font-style: italic;
}

.entry-image img {
	/*border: 3px solid #899bc0;
	 border-radius: 2px;*/
}

.entry-image {
	float: left;
	margin-top: 6px;
}

.big_column .entry-image div {
	padding: 0 8px 0 0;
	/*border-radius: 2px;*/
}

.big_column .continue-reading {
	margin: -7px 0 10px 0;
	padding: 0 0 5px 0;
	line-height: 16px;
	font-size: 12px;
}

#lang .current {
	display: none;
}

.sub-menu .selected a {
	/*color: #999;*/
}

div.sub-menu {
	height: 62px;
}

span.info {
	display: block;
}

.sub-menu li {
	padding: 3px 0;
}

.sub-menu li a {
	text-decoration: none;
}

/* gallery */

.cmsplugin_filer_gallery_list {
	margin-top: 6px;
}

.big_column .cmsplugin_filer_gallery_list ul li {
	list-style: none;
	display: inline;
	border: 0;
	padding: 2px;
	margin: 0;
}

.cmsplugin_filer_gallery_list img, .entry-image img {
	background-color: #ffffff;
	padding: 5px;
	border: 1px #cccccc solid;
	border-radius: 4px;
}

.capslock {
	/*text-transform: uppercase;*/
}

.spacer {
	height: 7px;
}

.big_column .paginator li {
	list-style: none;
	display: inline;
	margin: 0px 7px 0px 0px;
}

.news-block {
	width: 100%;
	height: 130px;
	overflow: auto;
}

img.left {
	padding: 5px;		
}

a.current_item , a.current_branch {
	color: #666;	
}
