DirectoryIndex index.html

#Deny from All
<Files ~ "\.(p|cfg|p3)$">
Order allow,deny
Deny from all
</Files>

###
###
###
AddHandler parsed-html html p3
Action parsed-html /cgi-bin/parser3.cgi

Options -Indexes

###
###
###
RewriteEngine on
RewriteBase /

#RewriteCond %{HTTP_HOST} ^ruscon.gcs-group.ru$
#RewriteRule ^(.*)$ http://www.ruscon.gcs-group.ru/$1 [R=301,L]

RewriteOptions inherit
RewriteRule \.(gif|jpg|png|js|exe|zip|rar|pdf|rtf|ppt|swf|ipx|xslt|xsl|tif|eps|tiff|ico|gz)$ - [L]
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteRule	^(.*)$	/index.html?uri=/$1 [QSA,L]

###
###
###
#AuthType Basic
#AuthName "Cooming Soon..."
#AuthUserFile /home/u234444/millmark.ru/www/.admins
#require valid-user
